body,
.main-content,
.welcome,
.weapon-images,
.weapon-labels,
.results,
.footer {
    display: flex;
}

@font-face {
    font-family: 'RuneScape UF';
    src: url("https://github.com/polycont/rock-paper-scissors/tree/main/fonts/runescape_uf.ttf");
    font-weight: bold;
    font-style: normal;
}


body {
    height: 100%;
}

body {
    flex-direction: column;
    margin: 0px;
    font-family: 'RuneScape UF';
    font-size: larger;
    min-height: 100vh;

}

.welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: larger;
    background-color: black;
    color: yellow;
}

.welcome h3 {
    margin-bottom: 1.75%;
    margin-top: 0%;
}

.main-content {
    flex-direction: column;
    flex: 1;
    background-image: url(images/duelarena.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(200,100,0,.5);
}

.weapon-images,
.weapon-labels {
    justify-content: space-around;
}

.weapon-images {
    padding-top: 2%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.weapon-labels {
    margin-top: .25%;
    font-size: xx-large;
    color: yellow;
    text-shadow: 2px 2px black;
}

#weapon1, #weapon2, #weapon3 {
    padding: 1%;
}

img {
    width: 15%;
    height: auto;
}

.scoring {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#kd-txt, #kd-num {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: yellow;
    text-shadow: 2px 2px black;
}

#kill-txt, #death-txt {
    margin-right: -10px;
}

#kd-txt h3 {
    margin-bottom: -10px;
}

#kills, #deaths {
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    color: white;
    text-shadow: 2px 2px black;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    text-shadow: 2px 2px black;
}

#results-txt {
    margin-bottom: 0px;
}

#results-box {
    color: #1F1DED;
    border: 2px solid #4F4836;
    padding: 20px 15px 20px 15px;
    font-size: larger;
    text-shadow: none;
    margin-top: 10px;
    min-height: 20px;
    min-width: 300px;
    background-image: url(images/parchment.png);
    background-repeat: no-repeat;
    background-size: cover;;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    font-family: 'RuneScape UF';
    font-size: larger;
    padding: 10px 15px 10px 15px;
    background-color: yellow;
    border-style: none;
    margin-bottom: 3%;
    box-shadow: 5px 10px black;
}

.footer {
    background-color: black;
    justify-content: center;
}

.footer p {
    color: yellow;
}